@model IEnumerable<Roostersysteem.Models.VakUrenCollege>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vakduur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrenCollege.CollegeNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vak.VakNaam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vakduur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrenCollege.CollegeNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vak.VakNaam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VakUrenCollege_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.VakUrenCollege_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VakUrenCollege_Id })
        </td>
    </tr>
}

</table>
