@model Roostersysteem.Models.PersoonVak

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersoonVak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persoon.PersoonVoornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persoon.PersoonVoornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vak.VakNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vak.VakNaam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersoonVak_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
