@model Roostersysteem.Models.UrenBeschikbaarheid

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UrenBeschikbaarheid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TijdstipBeschikbaarheid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TijdstipBeschikbaarheid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DagBeschikbaarheid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DagBeschikbaarheid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UrenBeschikbaarheidId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
